@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.App {
  padding: 100px;
  display: flex;
  flex-direction: column;
}

.device-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 26px;
  grid-row-gap: 26px;
}

@media only screen and (min-width: 1200px) {
  .device-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.footer {
  position: absolute;
  bottom: 60px;
  color: #959FB1;
}